body{
    background-color: rgb(182, 105, 105);
    
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,200px);
    gap: 10px;
}
div{
    border: thin solid black;
}

